.card_wrapper{
    width: 100%;
}

mat-card{
    width: 100px;
    /* box-shadow: 10px 2px 2px 1px rgba(0, 0, 0, 0.2); */
}


.card{
    width:100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 1fr 1fr;
    column-gap: 65px;
    margin-top: 20px;
}

.paginator{
    margin: auto;
    width: 350px;
    margin-top: 100px;
}